# ITNPBD2 Practical Lab 1. Introduction to Python

- Running code and printing results
- Variables
- Lists, sets and dictionaries

## First Python Code
In the box below, write the Python code to print "Hello World" to the screen, and run it (Ctrl + Enter or with the Run button)

In [ ]:
print("Hello World")

Hello World

## Variables
Next, declare some variables and give them values. Experiment with different data types and the operators +,-,* and /. What happens if you add two strings, or multiply a string by a number?

Use `str()` and `int()` or `float()` to change the data types - how do the results change? Use `type()` to see the data types of your results.

In [ ]:
num = 2
print(type(number))
num_str = str(number)
type(num_str)
print(type(num_str))
num_str_to_flt = "1.5"
print(type(num_str_to_flt))
num_flt = float(num_str_to_flt)
print(type(num_flt))

NameError: name 'number' is not defined

## Immutable Variables and `id()`
Define a numeric variable and use `id()` to print its ID. Now add 1 to the value of that variable and look at its ID again. What has happened to the ID? It has changed because the variable is immutable - its value cannot change. A new variable has been created in its place.

Now try setting a variable to have some numeric value and print its ID. On the next line, assign the SAME value again and print its ID again. Try this first of all by assigning the value 10 to the variable twice, then try again with 10.5 - what difference do you see? Look online to try and find the reason why this happens.

In [0]:
num = 11
print(id(num))
num += 1
print(id(num))
num_new = 10
print(id(num_new))
num_new = 10
print(id(num_new))
num_new = 10.5
print(id(num_new))

# f-strings
f-string syntax is `f"some text {variable} more text"`. Assign values to variables `a` and `b` and print "a plus b equals a+b" but replace the variables with the appropriate expression!

In [0]:
a = 3
b = 2
print(f"{a} and {b} equals {a+b}")

# Lists
Create a list with the integers from 5 to 10 in it. Do this two different ways, once by hand and one using `range()`. Print them both. Do they look the same? If not - have you remembered to use `list()` to change the second one from being a range object to a list?

In [0]:
nums_list = [1, 2, 3, 4, 9]
print(nums_list)
nums_range = list(range(2,11,2))
print(nums_range)

Now you have your two lists, produce each of the following new lists
- Concatenate the two lists to produce one: `[5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10]`
- Add both together to produce `[10, 12, 14, 16, 18, 20]`
- The first three elements of the first list: `[5, 6, 7]`
- The first list backwards: `[10, 9, 8, 7, 6, 5]`
- Only the even numbers from the first list: `[6, 8, 10]`
- A two dimensional list where the element at i,j is `list1[i] * list2[j]`:
`[[25, 30, 35, 40, 45, 50],
  [30, 36, 42, 48, 54, 60],
  [35, 42, 49, 56, 63, 70],
  [40, 48, 56, 64, 72, 80],
  [45, 54, 63, 72, 81, 90],
  [50, 60, 70, 80, 90, 100]]`
 - The square root of each number in list 1 - use `math.sqrt()`: `[2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]`

In [0]:
print(nums_list + nums_range)

print([x + y for x, y in zip(nums_list, nums_range)])

print(nums_list[:3])

print(list(reversed(nums_list)))

print([num for num in nums_list if num % 2 == 0])

row = []
for i in range(len(nums_list)):
    element = []
    for j in range(len(nums_range)):
        product = nums_list[i] * nums_range[j]
        element.append(product)
    row.append(element)
print(row)

import math

nums_sqrt = []
for i in range(len(nums_list)):
    sqroot = math.sqrt(nums_list[i])
    nums_sqrt.append(sqroot)
print(nums_sqrt)

From the two dimensional array you just created, extract or calculate the following:
- The second row: `[30, 36, 42, 48, 54, 60]`
- The fifth column: `[45, 54, 63, 72, 81, 90]`
- The sum of row with index 1: 270
- The sum of the leading diagonal (top left to bottom right): 355

In [0]:
print(row[1])

new_row =[]
for i in range(len(row)):
    new_row.append(row[i][4])
print(new_row)

# Sets
Define two sets: `{'Cat', 'Dog', 'Pig', 'Cow'}` and `{'Cat', 'Cow', 'Rat', 'Fish'}`
Using them, calculate the following:
- The union of the two sets: `{'Cat', 'Cow', 'Dog', 'Fish', 'Pig', 'Rat'}`
- The intersection of the two sets: `{'Cat', 'Cow'}`

Now remove `Cat` from the first set and add `Goat` instead.

In [0]:
set_1 = {'Cat', 'Dog', 'Pig', 'Cow'}
set_2 = {'Cat', 'Cow', 'Rat', 'Fish'}
print(set_1)
print(set_2)

set_3 = set_1.union(set_2)
print(set_3)
set_4 = set_1.intersection(set_2)
print(set_4)

In [0]:
set_1.remove('Cat')
set_1.add('Goat')
print(set_1)

Now, select all the four letter animal names from both sets into a single new set: `{'Fish', 'Goat'}`

In [0]:
set_5 = set_1.union(set_2)
print(set_5)
set_6 = {pet for pet in set_5 if len(pet) == 4}
print(set_6)

# Tuples, Sets and Lists
Create a tuple, a set, and a list containing `1,2,3,4`
See what happens if you add the element `2` to each of them. You won't be able to update the tuple. You'll need to create a new one with `(1,2,2,3,4)`.

In [0]:
my_tuple = (1,2,3,4)
print(my_tuple)

my_set = {1,2,3,4}
print(my_set)

my_list = [1,2,3,4]
print(my_list)

my_new_tuple = tuple(sorted(my_tuple + (2,)))
print(my_new_tuple)

my_set.add(2)
print(my_set)

my_list.append(2)
print(my_list)

my_list.insert(-2,2)
print(my_list)

# Dictionaries
Create a dictionary object that represents the data about a single customer storing a first name, surname, age, and a list of three named products they have bought, along with the price they paid for each product. Make up keys and values as you like.

In [0]:
customer = {
    'surname': 'smith',
    'firstname': 'john',
    'age': 30,
    'products': [('cheese', 10), ('milk', 3), ('butter', 5)]
}
print(customer)

## Write code to produce a sentence that says:
`The customer named (insert name) bought the following (count of things bought) things: (list the names of the things)` Obviously, you should replace the parts in brackets with expressions that extract data from the dictionary

In [0]:
print(f"The customer named {customer['firstname']} {customer['surname']} bought the following {len(customer['products'])} things: {customer['products']}")

## Calculate the total money spent by this customer

In [0]:
total_spend = 0
for spend in customer['products']:
    total_spend += spend[1]
print(total_spend)

# Extract just the prices paid into an array

In [0]:
prices_paid = []
for price in customer['products']:
    prices_paid.append(price[1])
print(prices_paid)

# Add a new field for the customer's phone number.

In [0]:
customer['phone number'] = '01234567890'
print(customer)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=41af8bd7-a5ed-4334-a2fe-992dcc7ea742' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>